<div class="main">
  <section class="py-3 py-lg-5 section mt-7">
    <div class="container text-center">
      <div class="row g-0 mt-0">
        <div class="col-lg-12">
          <h2 class="hd_sep">Wafi Lounge Restaurant, based on the ground floor, is a contemporary Lebanese restaurant on
            Clayton Road West that serves authentic Lebanese cuisine.</h2>
          <p class="mb-3 lh-lg">Allow your tastebuds to experience what fresh, authentic meze tastes like. Our team of
            expert chefs have put together a very special menu for you to experience. The Wafi Lounge cocktail bar on
            the first floor serves Oasis and Wafi Restaurant. </p>

          <p class="lh-lg">
            An elegant lounge in the style of its drink and service, offering a wide range of speciality cocktails,
            mocktails, beers, wines and champagnes along with spirits.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="py-3 py-lg-5 book_a_table_section">
    <div class="container ">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <h4 class="text-primary">
            VENUE HIRE
          </h4>
          <h5 class="lh-lg">Wafi Lounge &amp; Restaurant Lounge is the ideal place for private parties and corporate
            entertaining,
            with the opportunity for exclusive private hire.</h5>
          <div>
            <div>
              <p class="mb-3 lh-lg">We can offer arrival drinks at both the restaurant and the lounge along with canape
                reception. At the
                restaurant enjoy lunch and sit down dinners for up to 120 people.</p>
              <p class="mb-3 lh-lg">Christmas is a spectacular time for get togethers. With our Christmas menu of meat,
                vegetarian and
                seafood platters, there is something for everyone.</p>
              <p class="mb-3 lh-lg">Then join us up stairs at the Wafi Lounge to continue the party.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 about-bg">
        </div>
        <div class="col-md-4 col-sm-12">
          <h4 class="text-primary">
            What We Offer
          </h4>
          <h5 class="lh-lg">At the Wafi Lounge hire out a private booth for the night to celebrate a
            Birthday/Anniversary party with
            friends or watch the sports.</h5>
          <div>
            <div>
              <p class="mb-3 lh-lg">With room for 120 people we can cater for product launches, award ceremonies, live
                music and private
                parties.</p>
            </div>
            <div class="row">
              <div class="col-6">
                <ul>
                  <li class="lh-lg">Sporting events</li>
                  <li class="lh-lg">Charity Fundraiser</li>
                  <li class="lh-lg">Christmas</li>
                  <li class="lh-lg">Fashion Show</li>
                  <li class="lh-lg">Product Launch</li>
                  <li class="lh-lg">Seated Dinner</li>
                  <li class="lh-lg">Standing Reception</li>
                </ul>
              </div>
              <div class="col-6">
                <ul>
                  <li class="lh-lg">Birthdays</li>
                  <li class="lh-lg">Conference/Meetings</li>
                  <li class="lh-lg">Filming</li>
                  <li class="lh-lg">Photoshoots</li>
                  <li class="lh-lg">Music Events</li>
                  <li class="lh-lg">Anniversary</li>
                  <li class="lh-lg">Engagements</li>
                  <li class="lh-lg">Hen Parties</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
