<!-- <section class="py-0">

      <div class="container">
        <div class="row h-100 gx-2 mt-7">
          <div class="row">
            <div class="col-lg-6 text-center mx-auto mb-3 mb-md-5 mt-4">
              <h5 class="fw-bold text-danger fs-3 fs-lg-5 lh-sm my-6">What'd you like to eat today</h5>
            </div>
          </div>
          <div *ngFor="let cat of categories" class="col-sm-6 col-lg-3 mb-3 mb-md-0 h-100 pb-4">
            <div class="card card-span h-100">
              <div class="position-relative"> <img class="img-fluid rounded-3 w-100" [src]="cat.image" alt="..." />
                <div class="card-actions">
                </div>
              </div>
              <div class="card-body px-0">
                <h5 class="fw-bold text-1000 text-truncate">{{cat.title}}</h5><span class="badge bg-soft-danger py-2 px-3"></span>
              </div><a class="stretched-link" href="#"></a>
            </div>
          </div>
        </div>
      </div>

    </section> -->
