<div class="main">
  <div class="container mt-8 mt-md-9">
    <p style="
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10pt;
        margin-left: 0in;
        line-height: normal;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
      ">
      <strong><span style="font-size: 24px;">Terms & Conditions for Olive Kitchen
        </span></strong>
    </p>

    <!-- CONFIRMATION -->
    <div style="
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10pt;
        margin-left: 0in;
        line-height: normal;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        color: #484f56;
        background: #f9fafa;
      ">
      <strong><span style="font-size: 16px; font-family: 'Arial', sans-serif">Online Orders/ Website
          features</span></strong>
    </div>
    <div style="
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10pt;
        margin-left: 0in;
        line-height: normal;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        color: #484f56;
        background: #f9fafa;
      ">
      <strong><span style="font-size: 16px; font-family: 'Arial', sans-serif">Purpose / Service</span></strong>
    </div>
    <p style="
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10pt;
        margin-left: 0in;
        line-height: normal;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        background: #f9fafa;
      ">
      <span style="
          font-size: 16px;
          font-family: 'Arial', sans-serif;
          color: #484f56;
        ">This site is intended to provide a simple and convenient service to our
        customers enabling them to see our menu and place orders with us online.
        By creating an account, which is free.</span>
    </p>

    <!-- Deposite -->
    <div style="
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10pt;
        margin-left: 0in;
        line-height: normal;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        color: #484f56;
        background: #f9fafa;
      ">
      <strong><span style="font-size: 16px; font-family: 'Arial', sans-serif">Changes</span></strong>
    </div>
    <p style="
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10pt;
        margin-left: 0in;
        line-height: normal;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        background: #f9fafa;
      ">
      <span style="
          font-size: 16px;
          font-family: 'Arial', sans-serif;
          color: #484f56;
        ">We always try and ensure all information given on the website is
        accurate, but it is subject to change without notice. It is not intended
        to give rise to any legally binding obligation and may not be considered
        to make any representation on any matter.</span>
    </p>

    <!-- CANCELLATION -->
    <div style="
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10pt;
        margin-left: 0in;
        line-height: normal;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        color: #484f56;
        background: #f9fafa;
      ">
      <strong><span style="font-size: 16px; font-family: 'Arial', sans-serif">Your Status</span></strong>
    </div>
    <p style="
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10pt;
        margin-left: 0in;
        line-height: normal;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        background: #f9fafa;
      ">
      <span style="
          font-size: 16px;
          font-family: 'Arial', sans-serif;
          color: #484f56;
        ">By placing an order through this site, you confirm that:</span>
    </p>
    <p style="
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10pt;
        margin-left: 0in;
        line-height: normal;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        background: #f9fafa;
      ">
      <span style="
          font-size: 16px;
          font-family: 'Arial', sans-serif;
          color: #484f56;
        ">You are legally capable of entering into binding contracts; and You are
        at least 18 years old.</span>
    </p>

    <!-- MENUS AND DRINKS -->

    <div style="
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10pt;
        margin-left: 0in;
        line-height: normal;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        color: #484f56;
        background: #f9fafa;
      ">
      <strong><span style="font-size: 16px; font-family: 'Arial', sans-serif">Customer Responsibilities</span></strong>
    </div>
    <p style="
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10pt;
        margin-left: 0in;
        line-height: normal;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        background: #f9fafa;
      ">
      <span style="
          font-size: 16px;
          font-family: 'Arial', sans-serif;
          color: #484f56;
        ">When making an order via our website you must carefully check the order
        details prior to submitting the order.</span>
    </p>

    <!-- TIMINGS -->

    <div style="
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10pt;
        margin-left: 0in;
        line-height: normal;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        color: #484f56;
        background: #f9fafa;
      ">
      <strong><span style="font-size: 16px; font-family: 'Arial', sans-serif">Password/Account Security</span></strong>
    </div>
    <p style="
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10pt;
        margin-left: 0in;
        line-height: normal;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        background: #f9fafa;
      ">
      <span style="
          font-size: 16px;
          font-family: 'Arial', sans-serif;
          color: #484f56;
        ">You are responsible for maintaining the confidentiality of your
        password and account and any activities that occur under your account.
        Oasis shisha lounge limited is not be liable for any loss or damage which may
        arise as a result of any failure by you to protect your password or
        account.</span>
    </p>

    <!-- LOSS AND DAMAGE -->
    <div style="
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10pt;
        margin-left: 0in;
        line-height: normal;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        color: #484f56;
        background: #f9fafa;
      ">
      <strong><span style="font-size: 16px; font-family: 'Arial', sans-serif">How the Contract Is Formed</span></strong>
    </div>
    <p style="
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10pt;
        margin-left: 0in;
        line-height: normal;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        background: #f9fafa;
      ">
      <span style="
          font-size: 16px;
          font-family: 'Arial', sans-serif;
          color: #484f56;
        ">After placing an online order, you will receive an auto-generated email
        message acknowledging your order. Subsequently you will receive another
        email either accepting or refusing the order at which point the contract
        between us is confirmed.</span>
    </p>
    <p style="
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10pt;
        margin-left: 0in;
        line-height: normal;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        background: #f9fafa;
      ">
      <span style="
          font-size: 16px;
          font-family: 'Arial', sans-serif;
          color: #484f56;
        ">We will contact you should there be any issues with the order to do
        with Availability of particular dishes/items, Specific requests you may
        have made</span>
    </p>

    <!-- Payments -->
    <div style="
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10pt;
        margin-left: 0in;
        line-height: normal;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        color: #484f56;
        background: #f9fafa;
      ">
      <strong><span style="font-size: 16px; font-family: 'Arial', sans-serif">Timing</span></strong>
    </div>
    <p style="
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10pt;
        margin-left: 0in;
        line-height: normal;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        background: #f9fafa;
      ">
      <span style="
          font-size: 16px;
          font-family: 'Arial', sans-serif;
          color: #484f56;
        ">All transactions are at our discretion. We reserve the right to decline
        any order and are not obligated to give any reason. In exceptional
        circumstances we may have to change the order details and/or timings for
        example if we are unable to supply a particular menu item. In this
        situation you will have the right to cancel the order and if you decide
        to do so will receive a full refund.</span>
    </p>

    <!-- Offers -->
    <div style="
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10pt;
        margin-left: 0in;
        line-height: normal;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        color: #484f56;
        background: #f9fafa;
      ">
      <strong>
        <span style="font-size: 16px; font-family: 'Arial', sans-serif">Amendment and Cancellation of
          Orders</span></strong>
    </div>
    <p style="
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10pt;
        margin-left: 0in;
        line-height: normal;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        background: #f9fafa;
      ">
      <span style="
          font-size: 16px;
          font-family: 'Arial', sans-serif;
          color: #484f56;
        ">You will not have any right to amend or cancel an order once accepted
        by us.</span>
    </p>

    <div style="
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10pt;
        margin-left: 0in;
        line-height: normal;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        color: #484f56;
        background: #f9fafa;
      ">
      <strong>
        <span style="font-size: 16px; font-family: 'Arial', sans-serif">Refund Policy</span></strong>
    </div>
    <p style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    background: #f9fafa;
  ">
      <span style="
      font-size: 16px;
      font-family: 'Arial', sans-serif;
      color: #484f56;
    ">In the event that we do not accept (part of) your order, we shall be entitled to cancel (part of) your order
        without incurring any liability towards you or a third party. Following the cancellation we will of course
        provide you with a refund for the amount paid to us (including any points, if you used points to make any part
        of the purchase) under the cancelled (part of the) order.
        We reserve the right to cancel your order after the creation of the contract of sale, thereby terminating the
        contract of sale.</span>
    </p>
    <p style="
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10pt;
        margin-left: 0in;
        line-height: normal;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
      ">
      <strong><span style="font-size: 24px;">Privacy Policy
        </span></strong>
    </p>

    <div style="
        margin-top: 0in;
        margin-right: 0in;
        margin-bottom: 10pt;
        margin-left: 0in;
        line-height: normal;
        font-size: 15px;
        font-family: 'Calibri', sans-serif;
        color: #484f56;
        background: #f9fafa;
      ">
      <strong>
        <span style="font-size: 16px; font-family: 'Arial', sans-serif">What data do we collect?</span></strong>
    </div>
    <p style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    background: #f9fafa;
  ">
      <span style="
      font-size: 16px;
      font-family: 'Arial', sans-serif;
      color: #484f56;
    ">Our Shop collects the following data:</span>
    </p>
    <ul style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    background: #f9fafa;
  ">
      <li style="
      font-size: 16px;
      font-family: 'Arial', sans-serif;
      color: #484f56;
    ">Personal identification information (Name, email address, phone number, etc.)</li>
    </ul>

    <div style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    color: #484f56;
    background: #f9fafa;
  ">
      <strong>
        <span style="font-size: 16px; font-family: 'Arial', sans-serif">How do we collect your data?</span></strong>
    </div>
    <p style="
margin-top: 0in;
margin-right: 0in;
margin-bottom: 10pt;
margin-left: 0in;
line-height: normal;
font-size: 15px;
font-family: 'Calibri', sans-serif;
background: #f9fafa;
">
      <span style="
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  color: #484f56;
">You directly provide Our Shop with most of the data we collect. We collect data and process data when you:
Register online or place an order for any of our products or services.
Voluntarily complete a customer survey or provide feedback on any of our message boards or via email.
Use or view our website via your browser’s cookies</span>
    </p>


    <div style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    color: #484f56;
    background: #f9fafa;
  ">
      <strong>
        <span style="font-size: 16px; font-family: 'Arial', sans-serif">How will we use your data?</span></strong>
    </div>
    <p style="
margin-top: 0in;
margin-right: 0in;
margin-bottom: 10pt;
margin-left: 0in;
line-height: normal;
font-size: 15px;
font-family: 'Calibri', sans-serif;
background: #f9fafa;
">
      <span style="
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  color: #484f56;
">Our Shop collects your data so that we can:</span>
    </p>
    <ul style="
margin-top: 0in;
margin-right: 0in;
margin-bottom: 10pt;
margin-left: 0in;
line-height: normal;
font-size: 15px;
font-family: 'Calibri', sans-serif;
background: #f9fafa;
">
      <li style="
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  color: #484f56;
">Process your order and manage your account.</li>
      <li style="
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  color: #484f56;
">Email you with special offers on other products and services we think you might like.</li>

    </ul>
    <p style="
margin-top: 0in;
margin-right: 0in;
margin-bottom: 10pt;
margin-left: 0in;
line-height: normal;
font-size: 15px;
font-family: 'Calibri', sans-serif;
background: #f9fafa;
">
      <span style="
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  color: #484f56;
">When Our Shop processes your order, it may send your data to, and also use the resulting information from, credit reference agencies to prevent fraudulent purchases.

</span>
    </p>
    <ul style="
margin-top: 0in;
margin-right: 0in;
margin-bottom: 10pt;
margin-left: 0in;
line-height: normal;
font-size: 15px;
font-family: 'Calibri', sans-serif;
background: #f9fafa;
">

    </ul>

    <p style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    background: #f9fafa;
    ">

    </p>

    <div style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    color: #484f56;
    background: #f9fafa;
  ">
      <strong>
        <span style="font-size: 16px; font-family: 'Arial', sans-serif">How do we store your data?</span></strong>
    </div>
    <p style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    background: #f9fafa;
    ">
      <span style="
      font-size: 16px;
      font-family: 'Arial', sans-serif;
      color: #484f56;
    ">Our Shop securely stores your data on a server secured and looked after.

</span>
    </p>

    <div style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    color: #484f56;
    background: #f9fafa;
  ">
      <strong>
        <span style="font-size: 16px; font-family: 'Arial', sans-serif">Marketing</span></strong>
    </div>
    <p style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    background: #f9fafa;
    ">
      <span style="
      font-size: 16px;
      font-family: 'Arial', sans-serif;
      color: #484f56;
    ">Our Shop would like to send you information about products and services of ours that we think you might like, as well as those of our partner companies.

If you have agreed to receive marketing, you may always opt out at a later date. You have the right at any time to stop Our Shop from contacting you for marketing purposes or giving your data to other members of the Our Shop Group.</span>
    </p>
    <ul style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    background: #f9fafa;
    ">
    </ul>

    <p style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    background: #f9fafa;
    ">

    </p>

    <div style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    color: #484f56;
    background: #f9fafa;
  ">
      <strong>
        <span style="font-size: 16px; font-family: 'Arial', sans-serif">What are your data protection
          rights?</span></strong>
    </div>
    <p style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    background: #f9fafa;
    ">
      <span style="
      font-size: 16px;
      font-family: 'Arial', sans-serif;
      color: #484f56;
    ">Our Shop would like to make sure you are fully aware of all of your data protection rights. Every user is
        entitled to the following:
      </span>
    </p>
    <p style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    background: #f9fafa;
    ">
      <span style="
      font-size: 16px;
      font-family: 'Arial', sans-serif;
      color: #484f56;
    "><strong>
          The right to access
        </strong> – You have the right to request that Our Shop erase your personal data, under certain conditions.
        <br>
        <strong>
          The right to restrict processing
        </strong> – You have the right to request that Our Shop restrict the processing of your personal data, under certain conditions.

        <br>
        <strong> The right to object to processing </strong>– You have the right to object to Our Shop’s processing of
        your personal data,
        under certain conditions.
        <br>
        <strong>
          The right to data portability
        </strong> – You have the right to request that Our Shop transfer the data that we have
        collected to another organization, or directly to you, under certain conditions.

        If you make a request, we have one month to respond to you. If you would like to exercise any of these rights,
        please contact us at our email:

        Call us by telephone Or write to us:
      </span>
    </p>
    <div style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    color: #484f56;
    background: #f9fafa;
  ">
      <strong>
        <span style="font-size: 16px; font-family: 'Arial', sans-serif">Cookies</span></strong>
    </div>
    <p style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    background: #f9fafa;
    ">
      <span style="
      font-size: 16px;
      font-family: 'Arial', sans-serif;
      color: #484f56;
    ">Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior
        information. When you visit our websites, we may collect information from you automatically through cookies or
        similar technology

        For further information, visit <a href="allaboutcookies.org" target="_blank">
          allaboutcookies.org
        </a>.
      </span>
    </p>
    <div style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    color: #484f56;
    background: #f9fafa;
  ">
      <strong>
        <span style="font-size: 16px; font-family: 'Arial', sans-serif">How do we use cookies?</span></strong>
    </div>
    <p style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    background: #f9fafa;
    ">
      <span style="
      font-size: 16px;
      font-family: 'Arial', sans-serif;
      color: #484f56;
    ">Our Shop uses cookies in a range of ways to improve your experience on our website, including:</span>
    </p>
    <ul style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    background: #f9fafa;
    ">
      <li style="
      font-size: 16px;
      font-family: 'Arial', sans-serif;
      color: #484f56;
    ">Keeping you signed in</li>
      <li style="
      font-size: 16px;
      font-family: 'Arial', sans-serif;
      color: #484f56;
    ">Understanding how you use our website</li>
      <li style="
      font-size: 16px;
      font-family: 'Arial', sans-serif;
      color: #484f56;
    ">[Add any uses your shop has for cookies]</li>
    </ul>
    <div style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    color: #484f56;
    background: #f9fafa;
  ">
      <strong>
        <span style="font-size: 16px; font-family: 'Arial', sans-serif">What types of cookies do we use?</span></strong>
    </div>
    <p style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    background: #f9fafa;
    ">
      <span style="
      font-size: 16px;
      font-family: 'Arial', sans-serif;
      color: #484f56;
    ">There are a number of different types of cookies, however, our website uses:</span>
    </p>
    <ul style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    background: #f9fafa;
    ">
      <li style="
      font-size: 16px;
      font-family: 'Arial', sans-serif;
      color: #484f56;
    ">Functionality – Our Shop uses these cookies so that we recognize you on our website and remember your previously
        selected preferences. These could include what language you prefer and location you are in. A mix of first-party
        and third-party cookies are used.</li>
      <li style="
      font-size: 16px;
      font-family: 'Arial', sans-serif;
      color: #484f56;
    ">Advertising – Our Shop uses these cookies to collect information about your visit to our website, the content you
        viewed, the links you followed and information about your browser, device, and your IP address. Our Shop
        sometimes shares some limited aspects of this data with third parties for advertising purposes. We may also
        share online data collected through cookies with our advertising partners. This means that when you visit
        another website, you may be shown advertising based on your browsing patterns on our website.</li>
      <li style="
      font-size: 16px;
      font-family: 'Arial', sans-serif;
      color: #484f56;
    ">[Add any other types of cookies your shop uses]</li>
    </ul>
    <div style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    color: #484f56;
    background: #f9fafa;
  ">
      <strong>
        <span style="font-size: 16px; font-family: 'Arial', sans-serif">How to manage cookies</span></strong>
    </div>
    <p style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    background: #f9fafa;
    ">
      <span style="
      font-size: 16px;
      font-family: 'Arial', sans-serif;
      color: #484f56;
    ">You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your
        browser. However, in a few cases, some of our website features may not function as a result.</span>
    </p>
    <div style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    color: #484f56;
    background: #f9fafa;
  ">
      <strong>
        <span style="font-size: 16px; font-family: 'Arial', sans-serif">Privacy policies of other
          websites</span></strong>
    </div>
    <p style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    background: #f9fafa;
    ">
      <span style="
      font-size: 16px;
      font-family: 'Arial', sans-serif;
      color: #484f56;
    ">The Our Shop website contains links to other websites. Our privacy policy applies only to our website, so if you
        click on a link to another website, you should read their privacy policy.
      </span>
    </p>
    <div style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    color: #484f56;
    background: #f9fafa;
  ">
      <strong>
        <span style="font-size: 16px; font-family: 'Arial', sans-serif">Changes to our privacy policy</span></strong>
    </div>
    <p style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    background: #f9fafa;
    ">
      <span style="
      font-size: 16px;
      font-family: 'Arial', sans-serif;
      color: #484f56;
    ">Our Shop keeps its privacy policy under regular review and places any updates on this web page. This privacy
        policy was last updated on 9 January 2019.
      </span>
    </p>
    <div style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    color: #484f56;
    background: #f9fafa;
  ">
      <strong>
        <span style="font-size: 16px; font-family: 'Arial', sans-serif">How to contact us</span></strong>
    </div>
    <p style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    background: #f9fafa;
    ">
      <span style="
      font-size: 16px;
      font-family: 'Arial', sans-serif;
      color: #484f56;
    ">If you have any questions about Our Shop’s privacy policy, the data we hold on you, or you would like to exercise
        one of your data protection rights, please do not hesitate to contact us.
        Email us or Call us; Or write to us to shop address
      </span>
    </p>
    <div style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    color: #484f56;
    background: #f9fafa;
  ">
      <strong>
        <span style="font-size: 16px; font-family: 'Arial', sans-serif">How to contact the appropriate
          authority</span></strong>
    </div>
    <p style="
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 10pt;
    margin-left: 0in;
    line-height: normal;
    font-size: 15px;
    font-family: 'Calibri', sans-serif;
    background: #f9fafa;
    ">
      <span style="
      font-size: 16px;
      font-family: 'Arial', sans-serif;
      color: #484f56;
    ">Should you wish to report a complaint or if you feel that Our Shop has not addressed your concern in a
        satisfactory manner, you may contact the Information Commissioner’s Office.
      </span>
    </p>
  </div>
</div>
